
<div class="row">
    <div class="col-md-12" id="encabezado1">
      <app-encabezado></app-encabezado>
    </div>
    <div class="col-md-12" id="quienes_somos">
      <app-quienes-somos></app-quienes-somos>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="promociones">
      <app-promiciones></app-promiciones>
    </div>
    <div class="col-md-12" id="resenas">
      <app-resenas></app-resenas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="footer">
      <app-footer></app-footer>
    </div>
  </div>
