
<div class="container-reseñas">
  <h1 class="text-center section-title--h2">Reseñas</h1>

  <div class="container-reseñas--target">
    <div class="col-4 p-3">
      <div class="card card-container">
        <div class="card-body">
          <h5 class="card-title">Juan Pérez</h5>
          <div class="d-flex justify-content-center start">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </div>
          <p class="card-text">El curso de acupuntura que ofrecen es increíble. Aprendí técnicas efectivas y fáciles de aplicar en mi vida diaria. Me siento mucho más saludable y relajado desde que comencé el curso.</p>
        </div>
      </div>
      <br>
      <div class="card card-container">
        <div class="card-body">
          <h5 class="card-title">María Rodríguez</h5>
          <div class="d-flex justify-content-center start">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
          </div>
          <p class="card-text">Los cursos de yoga que ofrecen son excelentes. No solo aprendí posturas efectivas para mejorar mi salud, sino que también aprendí sobre la filosofía detrás del yoga y cómo aplicarla en mi vida diaria</p>
        </div>
      </div>
    </div>
    <div class="col-4 p-3">
      <div class="card card-container">
        <div class="card-body">
          <h5 class="card-title">Pedro González</h5>
          <div class="d-flex justify-content-center start">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p class="card-text">El curso de medicina herbal que ofrecen es fantástico. Aprendí sobre las propiedades curativas de las hierbas y cómo utilizarlas para tratar diferentes afecciones de manera natural</p>
        </div>
      </div>
      <br>
      <div class="card card-container">
        <div class="card-body">
          <h5 class="card-title">Ana Martínez</h5>
          <div class="d-flex justify-content-center start">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p class="card-text">Los cursos de meditación que ofrecen son excelentes. Aprendí técnicas efectivas para reducir el estrés y mejorar mi bienestar mental y emocional</p>
        </div>
      </div>
    </div>
    <div class="col-4 p-3">
      <div class="card card-container">
        <div class="card-body">
          <h5 class="card-title">Carlos López</h5>
        <div class="d-flex justify-content-center start">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-alt"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p class="card-text">El curso de reflexología que ofrecen es genial. Aprendí técnicas efectivas para aliviar el dolor y mejorar la salud de los órganos a través de la estimulación de los puntos reflexos en los pies.</p>
      </div>
    </div>
    <br>
    <div class="card card-container">
      <div class="card-body ">
        <h5 class="card-title">Isabel García</h5>
        <div class="d-flex justify-content-center start">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-alt"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p class="card-text">Los cursos de aromaterapia que ofrecen son fantásticos. Aprendí sobre las propiedades curativas de los aceites esenciales y cómo utilizarlos para tratar diferentes afecciones de manera natural</p>
      </div>
    </div>
  </div>
</div>
</div>