.resenas {
  background-image: url('src/assets/images/fondos/13.png');
  background-size: cover;
  height: 100vh;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

  