<!-- reseñas.component.html -->
<div class="container resenas my-5">
    <h1 class="text-center">Reseñas</h1>
    <div class="d-flex flex-wrap justify-content-center">
      <div class="col-4 p-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nombre 1</h5>
            <div class="d-flex">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="far fa-star"></i>
            </div>
            <p class="card-text">Párrafo reseña 1</p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nombre 2</h5>
            <div class="d-flex">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
            </div>
            <p class="card-text">Párrafo reseña 2</p>
          </div>
        </div>
      </div>
      <div class="col-4 p-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nombre 3</h5>
            <div class="d-flex">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <p class="card-text">Párrafo reseña 3</p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nombre 4</h5>
            <div class="d-flex">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <p class="card-text">Párrafo reseña 4</p>
          </div>
        </div>
      </div>
      <div class="col-4 p-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nombre 5</h5>
          <div class="d-flex">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p class="card-text">Párrafo reseña 5</p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nombre 6</h5>
          <div class="d-flex">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p class="card-text">Párrafo reseña 6</p>
        </div>
      </div>
    </div>
</div>
</div>
    
  