.principal-login {
  box-shadow: 5px 5px 15px gray;
  margin: auto;
  margin-top: 20px;
  width: 400px;
  height: 640px;   
  border-radius: 10px;         
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.form-nav .nav-login {
  width: 100%;
  height: 50px;
  padding: 0 24px;
  background: var(--principal-green);
}
.form-nav .nav-login img{
  width: 80px;
  height: 60px;
  margin-left: 400px;
  margin-bottom: 10px

}
.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}
.eafit-logo {
  width: 100px;
  height: 100px;
  background: url('/assets/logos/facebook.png');
}
.form {
  display: flex;
  flex-direction: column;
}
.form a {
  color: var(--principal-green);
  font-size: var(--sm);
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}
.password-email {
  cursor: pointer;
}
.gmail-google {
  display: flex;
  align-items: center;
  background-color: var(--text-input-field);
  border: 1px solid #D4D4D4;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--black);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  height: 50px;
}
.gmail-facebook {
  display: flex;
  align-items: center;
  background-color: var(--text-input-field);
  border: 1px solid #D4D4D4;
  border-radius: 8px;
  margin-bottom: 10px;
  color: var(--black);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  height: 50px;
}

#icon-google {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
  min-height: 30px;
  background: url('/assets/logos/pngwing.com.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#icon-facebook {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
  min-height: 30px;
  background: url('/assets/logos/facebook.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.line {
  width: 70%;
  margin-right: 20px;
  display: flex;
  text-align: center;
  flex-direction: row;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  font-weight: 500;
  padding: 0;

}
.line span {
  text-align: center;
  text-align: center;
  font-weight: bold;
  flex: 0.2 0 auto
}
.line::before {
  content: "";
  border-bottom: 1px solid #c2c8d0;
  flex: 1 0 auto;
  height: 0.5em;
  margin: 0;
}
.line::after {
  content: "";
  border-bottom: 1px solid #c2c8d0;
  flex: 1 0 auto;
  height: 0.5em;
  margin: 0;
}
.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}
.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}
.input-email {
  margin-bottom: 10px;
}
.primary-button {
  background-color: var(--principal-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.secondary-button {
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--principal-green);
  color: var(--principal-green);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  margin-bottom: 30px;
}
.login p{
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 20px;
}
.login-button {
  margin-top: 10px;
  margin-bottom: 20px;
}
.required {
  height: 30px;
  border: 1px solid #f5c2c7;
  border-radius: 5px;
  padding-left: 10px;
  background-color: #f8d7da;
  color: #842029;
}
.error-mesage {
  color: red;
}
@media (max-width: 640px) {
  .logo {
    display: block;
  }
}