<div class="container container-curso">
    <div class="row">
      <div class="col-md-6">
        <h3 style="color: #333; margin-top: 30px;">Mindfulness para la salud</h3>
        <p style="color: #555; margin-bottom: 30px;">Este curso ofrece una introducción práctica al mindfulness y su aplicación en el mejoramiento de la salud física y mental. Los estudiantes aprenderán a desarrollar habilidades de concentración y atención plena y a integrar la práctica de mindfulness en su vida diaria.</p>
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/mental/c1-1.jpg" alt="Mindfulness" style="box-shadow: 2px 2px 5px #ddd; border-radius: 10px;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 container-material">
        <h4 style="color: #333; margin-top: 30px;">Introducción a la práctica de mindfulness y su importancia para la salud</h4>
        <img class="img-material" src="../../assets/images/mental/c1-11.jpg" alt="importancia">
        <p style="color: #555; margin-bottom: 30px;">Esta clase proporcionará una comprensión básica de qué es el mindfulness y cómo se puede utilizar para mejorar la salud física y mental. Se discutirán los descubrimientos científicos relacionados con la práctica de mindfulness.</p>
        <button class="btn btn-primary" style="margin-bottom: 30px; border-radius: 25px;">Ingresar al material</button>
      </div>
      <div class="col-md-4 container-material">
        <h4 style="color: #333; margin-top: 30px;">Desarrollo de habilidades de mindfulness: concentración y atención plena</h4>
        <img class="img-material" src="../../assets/images/mental/c1-12.jpg" alt="importancia">
        <p style="color: #555; margin-bottom: 30px;">En esta clase, los estudiantes aprenderán a desarrollar habilidades de concentración y atención plena a través de la práctica de ejercicios y meditaciones guiadas de mindfulness.</p>
        <button class="btn btn-primary" style="margin-bottom: 30px; border-radius: 25px;">Ingresar al material</button>
      </div>
      <div class="col-md-4 container-material">
        <h4 style="color: #333; margin-top: 30px;">Integración de mindfulness en la vida diaria: estrategias y desafíos</h4>
        <img class="img-material" src="../../assets/images/mental/c1-13.jpg" alt="importancia">
        <p style="color: #555; margin-bottom: 30px;">Esta clase explorará cómo integrar la práctica de mindfulness en la vida diaria y abordará desafíos comunes en el camino. Se discutirán estrategias prácticas y recursos adicionales para ayudar a los estudiantes a incorporar mindfulness en su vida cotidiana.</p>
        <button class="btn btn-primary" style="margin-bottom: 30px; border-radius: 25px;">Ingresar al material</button>
      </div>
      <!-- Otros contenedores similares -->
    </div>
  </div>