/* archivo section1.component.css */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('src/assets/images/fondos/09.png');
  background-size: cover;
}
