/* archivo section1.component.css */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('src/assets/images/fondos/09.png');
  background-size: cover;
}
.carousel-image {
  height: 550px;
  width: 810px;
  border-radius: 30px;
  object-fit: cover;
 
}
.corusel-image--description h1 {
  text-align: center;
}
.corusel-image--description p{
  text-align: justify;
}
