<div class="carousel-container">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/carrusel/c1.jpg" class="carousel-image" alt="Parte 1">
        <div class="carousel-caption d-none d-md-block">
          <div class="corusel-image--description">
            <h5>Descubre la curación natural</h5>
            <p>Vital Flow ofrece soluciones efectivas y naturales para tratar una amplia variedad de afecciones. Únete a nuestros cursos y aprende a curarte a ti mismo con técnicas antiguas y efectivas.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/carrusel/c2.jpg" class="carousel-image" alt="Parte 2">
        <div class="carousel-caption d-none d-md-block">
          <div class="corusel-image--description">
            <h5>Vive una vida más saludable</h5>
            <p>La medicina alternativa se enfoca en prevenir enfermedades y mejorar la calidad de vida. Aprende técnicas efectivas y fáciles de incorporar en tu vida diaria para vivir de manera más saludable y sin dependencia de medicamentos.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/carrusel/c3.jpg" class="carousel-image" alt="Parte 3">
        <div class="carousel-caption d-none d-md-block">
          <div class="corusel-image--description">
            <h5>Transforma tu vida con Vital Flow</h5>
            <p>La medicina alternativa no solo trata enfermedades, también ayuda a transformar la vida de las personas. Únete a nuestros cursos y descubre cómo la medicina alternativa puede mejorar tu salud, tu bienestar y tu vida en general</p>
          </div>
        </div>
      </div>
    </div>
    <button 
      class="carousel-control-prev" 
      type="button" 
      data-bs-target="#carouselExampleCaptions" 
      data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button 
      class="carousel-control-next" 
      type="button" 
      data-bs-target="#carouselExampleCaptions" 
      data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

