<div class="quienes_somos">
  <div class="container my-5">
      <h1 class="text-center section-title--h2">Promociones</h1>
      <div class="d-flex flex-wrap justify-content-center">

        <div class="card card-container m-3" style="width: 18rem;">
          <img class="card-img-top card-image" src="../../assets/images/energetico/c2-13.jpg"  alt="Imagen promoción 1">
          <div class="card-body">
            <h5 class="card-title">Curso de Aromaterapia</h5>
            <div class="card-description">
              <p class="card-text">Este curso introduce a los estudiantes en el mundo de los aceites esenciales y cómo pueden ser utilizados para equilibrar la energía y mejorar la salud. Aprenderán sobre las propiedades terapéuticas de los aceites y cómo crear mezclas personalizadas.</p>
            </div>
            <button class="button-price"><a (click)="redirectAromaterapia()" class="price-anchor">Precio: $35.000</a></button>
          </div>
        </div>

        <div class="card card-container m-3" style="width: 18rem;">
          <img class="card-img-top card-image" src="../../assets/images/fisico/c1-1.jpg" alt="Imagen promoción 2">
          <div class="card-body">
            <h5 class="card-title">Yoga para la Salud</h5>
              <div class="card-description">
                <p class="card-text">Este curso enseña las posturas, respiración y meditación del yoga para mejorar la salud física y emocional. Aprenderás a equilibrar el cuerpo y la mente para una vida más saludable</p>
              </div>
            <button class="button-price"><a (click)="redirectYoga()"  class="price-anchor">Precio: $55.000</a></button>
          </div>
        </div>

        <div class="card card-container m-3" style="width: 18rem;">
          <img class="card-img-top card-image" src="../../assets/images/fisico/c1-13.jpg" alt="Imagen promoción 3">
          <div class="card-body">
            <h5 class="card-title">Meditación profunda</h5>
            <div class="card-description">
              <p class="card-text">Este curso enseña a los estudiantes a meditar de manera profunda y efectiva para reducir el estrés y mejorar la concentración</p>
            </div>
            <button class="button-price"><a (click)="redirectMeditacion()" class="price-anchor">Precio: $19.000</a></button>
          </div>
        </div>

      </div>
    </div>
</div>