<div class="quienes_somos">
  <div class="container my-5">
      <h1 class="text-center">Promociones</h1>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="card m-3" style="width: 18rem;">
          <img class="card-img-top" src="https://via.placeholder.com/250x180.png?text=p1"  alt="Imagen promoción 1">
          <div class="card-body">
            <h5 class="card-title">Título promoción 1</h5>
            <p class="card-text">Texto promoción 1</p>
            <a href="#seccion-1" class="btn btn-primary">Precio: $xx</a>
          </div>
        </div>
        <div class="card m-3" style="width: 18rem;">
          <img class="card-img-top" src="https://via.placeholder.com/250x180.png?text=p2" alt="Imagen promoción 2">
          <div class="card-body">
            <h5 class="card-title">Título promoción 2</h5>
            <p class="card-text">Texto promoción 2</p>
            <a href="#seccion-2" class="btn btn-primary">Precio: $xx</a>
          </div>
        </div>
        <div class="card m-3" style="width: 18rem;">
          <img class="card-img-top" src="https://via.placeholder.com/250x180.png?text=p3" alt="Imagen promoción 3">
          <div class="card-body">
            <h5 class="card-title">Título promoción 3</h5>
            <p class="card-text">Texto promoción 3</p>
            <a href="#seccion-3" class="btn btn-primary">Precio: $xx</a>
          </div>
        </div>
      </div>
    </div>
</div>