.quienes_somos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/10/14/16/background-1814372_960_720.jpg);
    background-size: cover;
  }