<div class="quienes-somos text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 mx-auto text-center">
        <img class="chicaYoga" src="assets/images/extra/yoga-01.png" alt="Chica Yoga">
      </div>
      <div class="col-sm-7">
        <h2 class="section-title--h2">Quiénes Somos</h2>
        <p>
          Nuestro objetivo es proporcionarte una experiencia única y personalizada en la que puedas aprender y crecer a tu propio ritmo. Con nuestros cursos, vídeos y otras herramientas, podrás acceder a la información y las técnicas que necesitas para mejorar tu vida de manera efectiva y sostenible ¡Únete a nosotros en esta emocionante jornada hacia una vida más saludable y feliz.
        </p>
        <p>En nuestro sitio, encontrarás una amplia gama de cursos, vídeos y otros contenidos multimedia diseñados para mejorar tanto tu mente, cuerpo, espíritu, emociones y energía. Ofrecemos estrategias y herramientas prácticas basadas en la investigación y en la experiencia de expertos en el campo, para ayudarte a comprender cómo cada una de estas dimensiones influye en tu vida diaria y cómo puedes trabajar en ellas para alcanzar un estado de equilibrio y bienestar.
        </p>
      </div>
    </div>
  </div>
</div>

