
.quienes-somos {
  background-image: url('src/assets/images/fondos/11.png');
  background-size: cover;
  height: 100vh;
  padding: 100px 0;
  color: #232323;
}

.chicaYoga {
  width: 700px;
  height: 800px;
  position: relative;
  margin-top: -100px;
  margin-left: -50px;
}

.col-sm-7{
  text-align: justify;
  font-size: 18px;
}

.section-title--h2 {
  color: #333;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 2.1875rem;
  font-weight: bold;
  text-align: center;
}





