
.quienes-somos {
  background-image: url('src/assets/images/fondos/11.png');
  background-size: cover;
  height: 100vh;
  padding: 100px 0;
  color: #232323;
}

.chicaYoga {
  width: 700px;
  height: 800px;
  position: relative;
  margin-top: -100px;
  margin-left: -50px;
  z-index: 1;
}

.col-sm-7 mx-auto {
  position: fixed;
  text-align: center;
}

h2, p {
  text-align: center;
}

