<div class="container container-curso">
  <div class="row">
    <div class="col-md-12">
        <div class="video-container text-center">
          <iframe
            src="https://www.youtube.com/embed/tu-video-id"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
    </div>   
  </div>
  <div *ngIf="material">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="card">          
            <div class="card-body">
              <h5 class="card-title"> <img class="rounded-circle"  style="width: 50px; height: 50px;" src={{material.imagen}}>{{material.nombre}}</h5>
              <p class="card-text">{{material.descripcion}}</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              <h5>Reseñas</h5>
            </div>
            <div class="card-body">
              <div class="review-card">
                <h6>Lucía Díaz</h6>
                <div class="review-star-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p>He asistido a varios de los cursos de Vital Flow y todos han sido excelentes. Los instructores son muy informativos y el material es fácil de seguir. Recomiendo altamente esta página a cualquiera interesado en la medicina alternativa</p>
              </div>
              <div class="review-card">
                <h6>David Fernández</h6>
                <div class="review-star-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p>El material de los cursos de Vital Flow es muy detallado y fácil de entender. Los ejemplos que proporcionan son muy útiles y han hecho que aprender sea una experiencia muy agradable</p>
              </div>
              <div class="review-card">
                <h6>Sofía Jiménez</h6>
                <div class="review-star-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <p>Desde que comencé a tomar los cursos de Vital Flow, he notado una gran mejoría en mi salud y bienestar. Estoy muy agradecida por la oportunidad de aprender sobre técnicas naturales para mejorar mi calidad de vida</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>



