
<ng-container *ngIf=" isUserLoggedIn">
    <header class="header">
        <nav class="header-nav">
         <div>
            <img src="/assets/logos/vitalflow.png" alt="logo-vital-flow" class="nav-logo">    
        </div>
        <div class="nav-items">
            <div>
                 <fa-icon class="me-2 bell" [icon]="faBell"></fa-icon> 
            </div>         
            
                <fa-icon  class="seaarch-container--lup"  [icon]="faMagnifyingGlass"></fa-icon>
                <input class="search-container p-2" id="input-search" type="text" placeholder="Buscador" name="Buscador">
                        
            <button class="button--log-out"><a class="text-decoration-none log-out" routerLink='' (click)="logout()">Salir</a></button>
        </div>
     </nav>
</header>
<section class="section-one">
    <img  class="section--component" src="/assets/logos/vitalflowlogo.png" alt="">
</section>
<section class="section-two">

</section>
<section class="section-tree">
    <p class="parrafo-prueba">.</p>
</section>
</ng-container>




