header{
    background-color: #cce4e4;
    
}
.header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    border: 1px solid var(--text-input-field);
    padding: 0;
    
}
.nav-logo {
    height: 45px;
    margin-left: 1rem;
}
.nav-items {
    display: flex;
    align-items: center;
}
.bell {
    color:var(--principal-green);
    font-size: 25px;
    
}
.log-out {
    font-size: 18px;
    font-weight: bold;
    color: var(--principal-green);
}
.button--log-out:hover{
    border: 1px solid var(--principal-green);
}
.button--log-out{
    border: none;
    width: 102px;
    height: 30px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.nav-buscar {
    width: 300px;
    border: 1px solid black;
}
.search-container:hover {
    border: 1px solid var(--principal-green);
}
.search-container {
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 400px;
    background-color:white ;
}
.border {
    border: none;
    margin-left: 10px;
    background-color: none;
}
.seaarch-container--lup {
    border: none;
    margin-left: 10px;
    color: var(--principal-green);
    
}
.section-one {
    width: 100%;
    background-image: url('/assets/fondos-final/fondoverde.png');
    display: flex;
    justify-content: center;
}
.section--component {
    width: 50%;
    height: 60%;
    margin: 50px;
}
