<!-- <button type="button" class="btn btn-primary" (click)="redirectMaterial(1)">Mindfulness para la salud</button>
<button type="button" class="btn btn-secondary" (click)="redirectMaterial(2)">Terapia cognitivo-conductual</button>
<button type="button" class="btn btn-success" (click)="redirectMaterial(3)">Hipnoterapia clínica</button> -->

<!-- <ul *ngFor="let item of cuerpo">
    <li>{{ item.nombre }}</li>

</ul> -->

<div *ngFor="let item of cuerpo">
  <div class="container container-curso">
    <div class="row">
      <div class="col-md-6">
        <h3 style="color: #333; margin-top: 30px;">{{item.nombre}}</h3>
      </div>
        <div class="row" >
          <div class="col-md-4 container-material" *ngFor="let i of curso1">
            <button class="btn btn-primary" style="margin-bottom: 30px; border-radius: 25px;">{{i.nombre}}</button>
          </div>    
        </div>
  </div>
</div>
 

